<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220852966414-iss185m84i1a55s11e3pbu1m4n2253aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220852966414-iss185m84i1a55s11e3pbu1m4n2253aj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>220852966414-dtn27q5ga3b6vsmg9k4le84drdsmst6i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDW6HRueRM1cAzEl3lMl4rLgvAm7auc_-I</string>
	<key>GCM_SENDER_ID</key>
	<string>220852966414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danr95.flutter-watchlist</string>
	<key>PROJECT_ID</key>
	<string>flutter-watchlist</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-watchlist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220852966414:ios:60ac18e51a0e50dacad85f</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-watchlist.firebaseio.com</string>
</dict>
</plist>